*{margin: 0px;padding: 0px;}
/*头部div*/
.head{height: 79px;width:100%;}
/*main定宽1178px*/
.head_main{ width:1178px; height:79px;margin-left:360px;margin-top:15px;}
 ul>li{float: left;list-style: none;}
 a{text-decoration: none;}

 /*head_main中的div设置浮动*/
.head_main_left,.head_main_center,.head_main_right{float: left;height: 79px;}
/*head_main中左边div*/
.head_main_left{width:120px;margin-right:200px;line-height: 79px;}
/*中间div*/
.head_main_center{width: 465px;line-height: 79px;margin-right: 120px;}
/*右边的div*/
.head_main_right{width: 181px;padding-top: 25px;}
.head_main_right>input{border:none;border-bottom:1px solid #bfbfbf;padding:10px 2px;}
.p-1{background:url("../img/activity-img/1.png") no-repeat 98% 92%;}
.head_main_center>ul>li{margin-right: 51px;}
.head_main_center>ul>li:nth-child(5){margin-right:0px;}
.head_main_center>ul>li>a{font-size: 17px;color: #101010;}
.head_main_center>ul>li>a:hover{text-decoration: none;}
/*活动下面的下划线*/
.head_main_center>ul>li:nth-child(3)>a{border-bottom: 3px solid #8d634a;width: 35px;padding-bottom: 16px;}

/*面包屑导航*/
.bread_div{
   width: 1178px;
   margin-left:360px;
   margin-top: 1.5rem;
}
/*设置面包屑导航背景颜色为白色*/
.bread_div>ul{background-color: #ffffff;}
.bread_div>ul>li>a{color:#000;text-decoration: none;font-size: 17px;}
/*改写面包屑导航的最后一个颜色*/
.bread_div>ul>.breadcrumb-item>.active{color: #8c644a;}

/*产品介绍模块*/
.show{margin-left: 360px;margin-top: 100px;}
.show>.show_div1{width:1200px;height: 260px;}
.show>p:first-child{font-size: 28px;}
.show>.show_div1>ul{margin-top: 40px;}
.show>.show_div1>ul>li{height:260px;}
.show>.show_div1>ul>li>img{margin-top: 53px;}
/*show_div1中左边li背景设置*/
.show div>ul>li:nth-child(1){
 width: 259px;
 background:-webkit-linear-gradient(right, #fff,#fefefe) ;
}
.show_product{
      width: 941px;height: 260px;
      padding: 39px 0 47px 42px;
      background: #eeeeee;
}
.show_product p:first-child{font-size: 17px;}
.show_product p:nth-child(2 ){margin-top: 40px;font-size: 17px;color: #d63229;font-weight: bold;}
.show_product a{
    text-decoration: none;
    display: block;
    color: #feffff;
    margin-top: 69px;
    font-weight:bold;
    width: 110px; height:35px;
    background-color:#d8312b;
    text-align: center;line-height: 35px;
}
.show>.show_div2,
.show_div3,
.show_div4,
.show_div5,
.show_div6,
.show_div7{
    margin-top:40px;
    width:1200px;
}
.show_div2>p.show_div2_p1,
.show_div3>p.show_div3_p1,
.show_div4>p.show_div4_p1,
.show_div5>p.show_div5_p1,
.show_div6>p.show_div6_p1,
.show_div7>p.show_div7_p1{
 font-size: 19px;color: #323232;margin-top: 28px;
}
/*内容底部*/
.bottom{background-color: #eeeeee;height:114px;width: 100%;}
.bottom .bottom_main{width:1178px;height:114px;margin-left: 360px;margin-top: 70px;}
.bottom .bottom_main>div{float:left;width: 294.5px;line-height: 114px;}
.bottom .bottom_main>div>span{margin-left: 11px;font-size: 18px;}
/*页面底部*/
