*{margin: 0px;padding: 0px;}
/*头部div*/
.head{height: 79px;width:100%;}
/*main定宽1178px*/
.head_main{ width:1178px; height:79px;margin-left:360px;margin-top:15px;}
ul>li{float: left;list-style: none;}
a{text-decoration: none;}

/*head_main中的div设置浮动*/
.head_main_left,.head_main_center,.head_main_right{float: left;height: 79px;}
/*head_main中左边div*/
.head_main_left{width:120px;margin-right:200px;line-height: 79px;}
/*中间div*/
.head_main_center{width: 465px;line-height: 79px;margin-right: 120px;}
/*右边的div*/
.head_main_right{width: 181px;padding-top: 25px;}
.head_main_right>input{border:none;border-bottom:1px solid #bfbfbf;padding:10px 2px;}
.p-1{background:url("../img/activity-img/1.png") no-repeat 98% 92%;}
.head_main_center>ul>li{margin-right: 51px;}
.head_main_center>ul>li:nth-child(5){margin-right:0px;}
.head_main_center>ul>li>a{font-size: 17px;color: #101010;}
.head_main_center>ul>li>a:hover{text-decoration: none;}
/*活动下面的下划线*/
.head_main_center>ul>li:nth-child(3)>a{border-bottom: 3px solid #8d634a;width: 35px;padding-bottom: 16px;}
/*面包屑导航*/
.bread_div{
    width: 1178px;
    margin-left:360px;
    margin-top: 1.5rem;
}
/*设置面包屑导航背景颜色为白色*/
.bread_div>ul{background-color: #ffffff;}
.bread_div>ul>li>a{color:#000;text-decoration: none;font-size: 17px;}
/*改写面包屑导航的最后一个颜色*/
.bread_div>ul>.breadcrumb-item>.active{color: #8c644a;}
.bread_div .breadcrumb>.breadcrumb-item + .breadcrumb-item::before {content: ">";}

.active_dome{width: 100%;}
.active_dome .active_dis>.son{width: 1200px;}
.active_dis{
    margin-left: 360px;
    width: 1200px;
    display: flex;
    /*主轴设置成x轴*/
    flex-direction: row;
    /*空间不够就换行*/
    flex-wrap: wrap;
    /*居中对齐*/
    justify-content: center;
}

/*第一层*/
.active_dis_one>p{font-size:22px;font-weight: 500;display: block;width: 1200px;}
.active_dis_one>p:last-child{color: #676767;}
.active_dis_one>p:last-child>span{color: #8d6448;}
.active_dis_one{margin-top: 40px;}
.active_dis_one .left{width:465px;height: 300px;margin-top: 100px;}
.active_dis_one .right{width: 735px;height: 300px;}


.active_dis_one .left>p,
.two_right>p{
    width:410px;
    text-align: left;
}
/*【】的颜色*/
.active_dis_one>p:nth-child(2)>span,
.four>p:nth-child(2)>span,
.six>p:nth-child(2)>span{color:#8e6247;font-weight: 500;}

/*p标签的字体大小*/
.active_dis_one .left>p:first-child,
.two_right>p:first-child,
.there_left>p:first-child,
.four>p,
.six>p{
    font-size:22px;
    color:#333333;
}

/*p标签中的下划线*/
.active_dis_one .left>p:first-child>span,
.two_right>p>span,
.there_left>p>span{
    border-bottom:2px solid #8d634a;
    padding-bottom: 5px;
}
.active_dis_one >ul >li> .left>p:nth-child(2),
.two_right>p:nth-child(2),
.there_left>p:nth-child(2){
    font-size: 15px;color:#999999;
    margin-bottom: 24px;
}
/*查看全文>a标签设置*/
.active_dis_one .left>a,
.active_dis_two .two_right>a,
.there_left>a{
    display:block ;width: 80px;
    height:30px;background-color: #8d634a;
    color:#fffeff;text-align: center;line-height: 30px;
    text-decoration: none;
    font-size: 12px;
}

/*第二层*/
.active_dis_two>ul>li>div:nth-child(1)>img{width: 733px;}
.active_dis_two>ul>li>div:nth-child(2){width:460px; }
.two_right{padding-left: 50px;}
.active_dis_two >ul>li>.two_right>p{text-align: left;}
.active_dis_two >ul>li>.two_right>p:first-child{margin-top: 70px;margin-bottom: 24px;}

/*第三层*/
.active_dis_there{margin-top:60px;}
.active_dis_there>ul>li>.there_left{width:460px;}
.active_dis_there .there_left{margin-top:60px; }
.active_dis_there>ul>li>div:nth-child(2)>img{width: 733px;}


/* 第四层艺术活动 */
.four{width: 300px;height:220px;margin-top: 80px;text-align: center;}
.four .four_ul>li>a{
    width: 106px;height: 37px;
    display: block;
    text-align: center;
    line-height: 37px;
    font-size:17px;
    margin-top:39px;
    text-decoration: none;
}
.four .four_ul>li:nth-child(1)>a{
    color:#666666;
    margin-right:72px;
    background-color:#eeeeee;
}
.four .four_ul>li:nth-child(2)>a{
    color:#ffffff;
    background-color:#8d634a;
}

/*第五层*/
.five>img:nth-child(1){margin-right: 10px;}
.five>img:nth-child(2),
.five>img:nth-child(3),
.five>img:nth-child(4){
    width:350px;
    margin-right: 8px;
}

/*第六层*/
.six{width:100%;height: 80px;text-align: center;}

/*第七层*/
.active_dis_seven{margin-top:40px;}
.active_dis_seven>.seven_ul>li:first-child{width: 410px;margin-right: 72px;}
.active_dis_seven>.seven_ul>li:nth-child(2){width: 450px;}
.active_dis_seven>.seven_ul>li:first-child>div>p:first-child{
  font-size: 28px;color:#333333;
}
.active_dis_seven>.seven_ul>li:first-child>div>p:nth-child(2){
    font-size:15px;color:#999999;
}
.active_dis_seven>.seven_ul>li:first-child>div>p:nth-child(3){
    font-size: 16px;color: #555555;
}
.active_dis_seven>.seven_ul>li:first-child>div>p:nth-child(4){
    text-align: right;
}
.active_dis_seven>.seven_ul>li:first-child>div>p:nth-child(4)>a{
    color:#89654b;
    text-decoration: none;
    font-size: 14px;
}

/*九层*/
.jiu{margin-top: 80px;}












